@model RoadCalc.Models.ViewModels.CurvaHorizontalCircularViewModel
<hr />
<p>
    <b>Azimute entre dois pontos - Decimal</b>
</p>
<hr />
<!--INICIO DO FORMULÁRIO-->
@using (Ajax.BeginForm("CalculaCurvaCircular", new AjaxOptions { UpdateTargetId = "CalculaCurvaHorizontal", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }))
{
    <div class="box-body">
        <div class="row">
            <h4>Ponto Inicial</h4>
            <div class="form-group col-lg-4">
                @Html.LabelFor(x => x.CoordXPt1)
                @Html.TextBoxFor(x => x.CoordXPt1, new { @class = "form-control", type = "number", step = 0.01 })
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(x => x.CoordYPt1)
                @Html.TextBoxFor(x => x.CoordYPt1, new { @class = "form-control", type = "number", step = 0.01 })
            </div>
        </div>
        <hr />
        <div class="row">
            <h4>Ponto de Interseção</h4>
            <div class="form-group col-lg-4">
                @Html.LabelFor(x => x.CoordXPt2)
                @Html.TextBoxFor(x => x.CoordXPt2, new { @class = "form-control", type = "number", step = 0.01 })
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(x => x.CoordYPt2)
                @Html.TextBoxFor(x => x.CoordYPt2, new { @class = "form-control", type = "number", step = 0.01 })
            </div>
        </div>
        <div class="row">
            <h4>Ponto Final</h4>
            <div class="form-group col-lg-4">
                @Html.LabelFor(x => x.CoordXPt3)
                @Html.TextBoxFor(x => x.CoordXPt3, new { @class = "form-control", type = "number", step = 0.01 })
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(x => x.CoordYPt3)
                @Html.TextBoxFor(x => x.CoordYPt3, new { @class = "form-control", type = "number", step = 0.01 })
            </div>
        </div>
        <div class="row">
            <h4>Dados da Curva</h4>
            <div class="form-group col-lg-4">
                @Html.LabelFor(x => x.Raio)
                @Html.TextBoxFor(x => x.Raio, new { @class = "form-control", type = "number", step = 0.01 })
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(x => x.Corda)
                @Html.TextBoxFor(x => x.Corda, new { @class = "form-control", type = "number", step = 0.01 })
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(x => x.EstacaInicial)
                @Html.TextBoxFor(x => x.EstacaInicial, new { @class = "form-control", type = "number", step = 0.01 })
            </div>
            <div class="form-group col-lg-4">
                @Html.LabelFor(x => x.EstacaInicialInter)
                @Html.TextBoxFor(x => x.EstacaInicialInter, new { @class = "form-control", type = "number", step = 0.01 })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-lg-4">
                <button type="submit" class="btn btn-primary form-control">Calcular</button>
            </div>

        </div>
    </div>
    <!-- /.box-body -->

}
<!--TÉRMINO DO FORMULÁRIO-->
<div class="box-footer">
    <div id="CalculaCurvaHorizontal">

    </div>
</div>

